/*============== Font Import =====================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/*================= Basic Reset=================*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*================= Custom Properties =================*/

:root {
    --header-height: 6rem;
    --blue: hsl(258, 83%, 45%);
    --dark: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --banner-bg-color: hsl(26, 81%, 94%);
    --very-dark-desaturated-blue: hsl(211, 21%, 50%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --testimonial-border-cl: #e5e5e5;
    --number-of-grid-columns: 4;
    --h1-font-size: 3.2rem;
    --h2-font-size: 2.8rem;
    --h3-font-size: 2.4rem;
    --h4-font-size: 2rem;
    --body-font-f: "Open Sans", sans-serif;
    --heading-font-f: "Poppins";
    --heading-font-w1: 700;
    --heading-font-w2: 900;
    --section-padding: 5rem 0;
    --letter-spacing: 1px;
    --para-margin: 3rem 0;
    --mt: 3rem;
}


/*================= Global Styles =================*/

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: var(--body-font-f);
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font-f);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
    letter-spacing: var(--letter-spacing);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

p {
    color: var(--very-dark-grayish-blue);
    line-height: 1.5;
    margin: var(--para-margin);
}


/*================= Reusabe Styles =================*/

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(var(--number-of-grid-columns), 1fr);
    column-gap: 2rem;
}

.section {
    padding: var(--section-padding);
}

.sign {
    display: block;
    text-transform: capitalize;
    color: var(--white);
    margin-bottom: 1.5rem;
}


/*================= Header Styles =================*/

.header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    background-color: var(--banner-bg-color);
}

.main__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--dark);
    font-size: 2.6rem;
    font-weight: var(--heading-font-w1);
}

.nav-list {
    width: 100%;
    background-color: var(--blue);
    position: absolute;
    top: 6rem;
    right: 0;
    z-index: 2;
    overflow: hidden;
    transition: 0.5s;
    text-align: right;
}

.nav-item {
    margin: 1.5rem 2.5rem 1.5rem 0;
}

.nav-link {
    color: var(--white);
    text-transform: capitalize;
}

.nav-btn {
    margin-right: 2.5rem;
}


/*================= Banner Styles =================*/

.banner {
    width: 100%;
    background-color: var(--banner-bg-color);
}

.banner__img,
.banner__content {
    grid-column: span 4;
}

.rate {
    display: none;
}

.main__heading {
    margin-top: var(--mt);
}

.banner__btn {
    text-align: center;
}

.primary__btn {
    color: var(--white);
    background-color: var(--blue);
    border: none;
    outline: none;
    width: 100%;
    display: inline-block;
    padding: 1.5rem 0;
    border-radius: .8rem;
    font-weight: 600;
    font-family: var(--heading-font-f);
    letter-spacing: var(--letter-spacing);
}

.banner__btn .example {
    display: block;
    margin-top: 2rem;
    color: var(--blue);
    font-weight: 600;
    text-decoration: underline;
}

.checkmark {
    margin-top: var(--mt);
}

.checkmark__item {
    display: flex;
    margin-bottom: 1.2rem;
}

.checkmark__item img {
    max-width: 1.5rem;
}

.checkmark__item span {
    color: var(--very-dark-grayish-blue);
    font-size: 1.4rem;
    margin-left: 2rem;
}


/*================= Why Fiber Styles =================*/

.main-title,
.subtitle {
    grid-column: span 4;
}

.subtitle {
    color: var(--blue);
    margin-bottom: 2rem;
}

.why__item {
    margin-top: 3.5rem;
    grid-column: span 4;
}

.item__text h4 {
    margin-top: 2.5rem;
}


/*================= Blue Bg Styles =================*/

.blue__bg {
    background-color: var(--blue);
    margin: 0 2.5rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    padding-top: 5rem;
}

.blue__bg__content,
.blue__bg__img {
    grid-column: span 4;
}

.blue__bg__img {
    margin-top: var(--mt);
}

.blue__bg__title,
.blue__bg__text {
    color: var(--white);
}

.secondary__btn {
    color: var(--blue);
    background-color: var(--white);
}


/*================= Testimonial Styles =================*/

.testimonial__item {
    padding: 1.5rem;
    border: 1px solid var(--testimonial-border-cl);
    border-radius: .8rem;
    margin-bottom: 3.5rem;
}

.testimonial__img {
    display: flex;
}

.img__text {
    margin-left: 1.5rem;
}

.img__text h4 {
    color: var(--blue);
    font-size: 1.6rem;
    font-weight: 600;
}

.img__text p {
    color: var(--dark);
    font-size: 1.2rem;
    margin: 0;
}

.testimonial__text p {
    color: var(--dark);
    font-size: 1.4rem;
    margin: 2rem 0;
}

.testimonial__btn {
    color: var(--blue);
    font-weight: 600;
    display: block;
    text-align: center;
    padding: .8rem 0;
    border: 1px solid var(--testimonial-border-cl);
    margin-bottom: 1.5rem;
}

.testimonial__btn:hover {
    color: var(--white);
    background-color: var(--blue);
}


/*=============== Footer Section Styles ===============*/

.main__footer {
    background-color: var(--banner-bg-color);
}

.footer__logo,
.footer__content {
    grid-column: span 4;
}

.footer__title {
    font-size: 1.8rem;
}

.footer__list {
    margin: var(--para-margin);
}

.footer__para,
.heart {
    font-size: 1.4rem;
}

.footer__item {
    margin: 1rem 0;
}

.footer__link {
    color: var(--very-dark-grayish-blue);
    font-size: 1.4rem;
}

.footer__link:hover {
    color: var(--blue);
}


/*======================================================
#################### MEDIA QUERIES ####################
======================================================*/

@media screen and (min-width:768px) {
     :root {
        --header-height: 8rem;
        --number-of-grid-columns: 8;
        --h1-font-size: 3rem;
        --h2-font-size: 2.8rem;
        --h3-font-size: 2.4rem;
        --h4-font-size: 2rem;
        --body-font-f: "Open Sans", sans-serif;
        --heading-font-f: "Poppins";
        --heading-font-w1: 700;
        --heading-font-w2: 900;
        --section-padding: 8rem 0;
        --letter-spacing: 1px;
        --para-margin: 3rem 0;
        --mt: 3rem;
    }
    /*================= Banner Styles =================*/
    .banner__img,
    .banner__content {
        grid-column: span 4;
    }
    .banner__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner__img {
        order: 2;
    }
    .main__heading {
        margin-top: 1.5rem;
    }
    .rate {
        display: flex;
    }
    .rate img {
        margin-right: 1.2rem;
    }
    .rate span {
        font-size: 1.4rem;
    }
    .banner__btn {
        display: flex;
        align-items: center;
    }
    .primary__btn {
        width: initial;
        padding: 1rem 2.5rem;
    }
    .banner__btn .example {
        display: inline;
        margin-top: initial;
        margin-left: 3rem;
    }
    .checkmark {
        display: flex;
        flex-direction: row;
    }
    .checkmark__item {
        display: flex;
        margin-bottom: 0;
    }
    .checkmark__item:not(:last-child) {
        margin-right: 2.5rem;
    }
    .checkmark__item span {
        margin-left: .5rem;
    }
    /*================= Why Fiber Styles =================*/
    .main-title,
    .subtitle {
        grid-column: span 8;
    }
    .items {
        margin-top: 4rem;
    }
    .item__one {
        grid-column: 1/3;
    }
    .item__two {
        grid-column: 4/6;
    }
    .item__three {
        grid-column: 7/-1;
    }
    /*================= Blue Bg Styles =================*/
    .blue__bg {
        padding-top: 8rem;
    }
    .blue__bg__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .blue__bg__img {
        margin-top: initial;
    }
    .secondary__btn {
        color: var(--blue);
        background-color: var(--white);
    }
    /*================= Testimonial Styles =================*/
    .flexbox__container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 0 2rem;
    }
    .testimonial__item {
        grid-column: span 3;
        margin-bottom: 0;
    }
    .img__text h4 {
        font-size: 1.4rem;
    }
    .testimonial__btn {
        font-size: 1.4rem;
    }
    /*=============== Footer Section Styles ===============*/
    .footer__logo {
        grid-column: span 8;
    }
}

@media screen and (min-width:1000px) {
     :root {
        --header-height: 10rem;
        --number-of-grid-columns: 12;
        --h1-font-size: 4rem;
        --h2-font-size: 3.2rem;
        --h3-font-size: 2.8rem;
        --h4-font-size: 2.4rem;
        --body-font-f: "Open Sans", sans-serif;
        --heading-font-f: "Poppins";
        --heading-font-w1: 700;
        --heading-font-w2: 900;
        --section-padding: 10rem 0;
        --para-margin: 4rem 0;
        --mt: 4rem;
    }
    .sign {
        display: inline-block;
        color: var(--dark);
        margin-bottom: 0;
        font-weight: 600;
    }
    /*================= Header Styles =================*/
    .hamburger__menu {
        display: none;
    }
    .nav-list {
        width: initial;
        background-color: transparent;
        position: initial;
        display: flex;
        overflow: initial;
        align-items: center;
    }
    .nav-item:not(:last-child) {
        margin-right: 4rem;
    }
    .nav-link {
        color: var(--dark);
        font-size: 1.6rem;
    }
    .nav-link:hover {
        color: var(--blue);
    }
    .nav-btn {
        margin-left: 20rem;
    }
    .signin {
        margin-right: 4rem;
    }
    .signup__btn {
        color: var(--white);
        background-color: var(--blue);
        padding: .7rem 2rem;
        border-radius: .3rem;
    }
    .signin:hover {
        color: var(--blue);
    }
    .signup__btn:hover {
        color: var(--blue);
        background-color: var(--white);
    }
    /*================= Banner Styles =================*/
    .banner{
        padding-bottom: 5rem;
    }
    .banner__img,
    .banner__content {
        grid-column: span 6;
    }
    .banner__btn {
        display: flex;
        align-items: center;
    }
    .banner__btn .example {
        display: inline;
        margin-top: initial;
        margin-left: 5rem;
    }
    .checkmark {
        display: flex;
        flex-direction: row;
    }
    .checkmark__item {
        display: flex;
        margin-bottom: 0;
    }
    .checkmark__item:not(:last-child) {
        margin-right: 5.5rem;
    }
    .checkmark__item span {
        margin-left: .5rem;
    }
    /*================= Why Fiber Styles =================*/
    .main-title,
    .subtitle {
        grid-column: span 12;
    }
    .main-title {
        margin-top: var(--mt);
    }
    .items {
        margin-top: 6rem;
    }
    .item__one {
        grid-column: 1/4;
    }
    .item__two {
        grid-column: 4/8;
    }
    .item__three {
        grid-column: 8/-1;
    }
    /*================= Blue Bg Styles =================*/
    .blue__bg {
        padding-top: 10rem;
    }
    .blue__bg__content,
    .blue__bg__img {
        grid-column: span 6;
    }
    .secondary__btn {
        color: var(--blue);
        background-color: var(--white);
    }
    /*================= Testimonial Styles =================*/
    .flexbox__container {
        grid-template-columns: repeat(12, 1fr);
    }
    .testimonial__item {
        grid-column: span 4;
    }
    .img__text h4 {
        font-size: 2rem;
    }
    .img__text p {
        color: var(--dark);
        font-size: 1.4rem;
    }
    .testimonial__text p {
        font-size: 1.6rem;
        margin: 3rem 0;
    }
    .testimonial__btn {
        font-size: 1.6rem;
    }
    /*=============== Footer Section Styles ===============*/
    .footer__logo {
        grid-column: span 4;
    }
    .footer__content {
        grid-column: span 2;
    }
}